@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after{
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
.wrap-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    padding: 15px 150px;
}
.logo-holder{
    text-align:center;
    padding-top: 13px;
  }
.logo-text-1, .logo-text-2 {
    margin:0px;
    padding:0px;
}

a {
    text-decoration:none !important;
    color:#FFF;
}
.logo{
    display: flex;
    column-gap: 10px;
    align-items:center;
}

/* logo-text */
.logo-text h3 {
    color: #e84533;
    font-weight: 300;
    font-size: 30px;
    line-height: 0.6;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
}
.logo-text p {
    font-size: 16px;
    margin-left: 0;
    color: #545454;
    font-weight: 400;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Mansalva', cursive;
    position: relative;
}
.logo-text p:before {
    position: absolute;
    content: '';
    width: 17px;
    height: 12px;
    background: #545454;
    left: 0px;
    top: 5px;
}
.logo-text p:after {
    position: absolute;
    content: '';
    width: 17px;
    height: 12px;
    background: #545454;
    right: 0px;
    top: 5px;
}

.nav-item {
    border: 1px solid #545454;
    background-color: #545454;
    border-radius: 10px;
    margin: 5px;
}
.nav-link{
    color: #FFF;
}
.nav-link:hover {
    color: #a9a4a4;
}
.wrap-main{
    /* display: flex;
    justify-content:space-between;
    align-items: center; */
    padding: 30px 150px;
}
.background{
    height: 200px;
}
.home {
    /* display: block; */
    background-image: url("../img/background_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: initial; */
    height: 380px;
    margin-bottom: 50px;
}
.home-guides {
    /* display: block; */
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: initial; */
    height: 380px;
    margin-bottom: 50px;
}
.title {
    color: #545454;
    font-weight: 300;
    font-size: 50px;
    line-height: 0.6;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    text-align: right;
    /* margin-top: 50px; */
    padding-top: 50px;
    padding-right: 20px;
}
.subtitle-home{
    font-size: 24px;
    color: #545454;
    font-weight: 400;
    font-style: italic;
    font-family: 'Mansalva', cursive;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}
.home-guides{
    padding-top: 100px;
}
.left {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}
.subtitle{
    margin-bottom: 30px;
}
.about {
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
.wrap-about{
    display: flex;
    column-gap:50px;
}
.about-img{
    max-width: 70%;
}
.podcast-img{
    max-width: 50%;
    display: block;
}

.guides {
    margin-bottom: 50px;
}
.card-wrap {
    width: 200px;
    position:relative;
}

.card-footer{
    /* background-color:#a9a4a4; */
    margin-top: -90px;
    opacity: 0.8;
    color: #000;
    border: 0;
    
}
.card-footer:hover {
    color:#FFF;
    background-color:#a9a4a4;
}
.card-title{
    padding-top: 10px;
    font-weight: 300;
    font-size: 38px;
    line-height: 0.6;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
}
.podcasts {
    margin-bottom: 50px;
}
.contacts {
    margin-bottom: 50px;
}
.contact {
    padding-bottom: 20px;
    column-gap: 50px;
}
.contact-form{
    max-width:30%;
}
.our-contact{
    max-width:70%;
}
.contact-wrap{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items:center;
}
/* .social {
    display: flex;
    column-gap: 20px;
} */
.wrap-footer{
    padding: 20px 150px 0 150px;  
}
.wrapper{
    background-color:#545454;
    padding-left: 50px;
    padding-right: 50px;
}
/* Footer styles start */
.footer{
    min-height: 70px;
    
}
.footer a{
    text-decoration: none;
    color:#000000;
}
.footer a:hover, .footer a:focus {
    cursor: pointer;
    transition: 1s;
}
.footer__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between; 
    padding-top: 18px;
    /* padding-top: 41px;
    padding-bottom: 41px; */
    /* min-height: 132px; */
}
.footer__github{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    margin-left: 7px;

}
.github__item{
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}
.rsschool{
    
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-left: 40px;
}
/* .footer__social{
    margin-right: -70px;
} */
.footer__social-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    list-style: none;
}
.footer__social-item{
    margin-right: 30px;
}
.footer__social-item:last-child {
    margin-right: 0;
}
/* Footer styles end */
