html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after{
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
.wrap-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    padding: 15px 150px;
}
.logo{

}
.wrap-main{
    /* display: flex;
    justify-content:space-between;
    align-items: center; */
    padding: 50px 150px;
}
.background{
    height: 200px;
}
.home {
    /* display: block; */
    background-image: url("../img/background_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: initial; */
    height: 380px;
}
.wrap-footer{
    padding: 50px 150px;
}